.articles-page {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 32px;
    align-items: center;
}

svg.arrow rect {
    fill: #9B4DFF
}

svg.arrow path {
    fill: white;   
}

.footer {
    color: black;
    font-size: 3.25rem;
    font-weight: 600;
    letter-spacing: -1.5px;
    padding: 0 2rem;
    margin: 0;
    line-height: 0.9;
}

.footer span {
    color: #9B4DFF;
}

.dive-into-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.5rem;
    color: white;
    font-family: 'Montserrat Alternates', system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1;
    border-radius: 20px;
    cursor: pointer;
    background-color: #EF4B8D;
    border: none;
    text-decoration: none;
    gap: 1.5rem;
}

.dive-into-button:hover,
.dive-into-button:active {
    background-color: #9B4DFF;
}



@media (min-width: 850px) {
    .footer {
        font-size: 4.375rem;
        letter-spacing: -3px;
    }
}