.images-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.image {
    width: 100%;
    border-radius: 56px;
    object-fit: cover;
}

@media (min-width: 850px) {
    .image {
        height: 500px;
    }
}
