.images-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    justify-content: start;
    gap: 3rem;
}

.images-content > * {
    width: 100%;
}

@media (min-width: 850px) {
    .images-content {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0;
        margin-bottom: 2rem;
    }
    
    .images-content > * {
        width: 48%;
    }
    
    .images-content.reversed {
        flex-direction: row-reverse;
    }
}

