.text-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
}

.text-content > * {
    flex: 1;
}

.text-content h2 {
    margin: 0;
    padding: 0;
}

@media (min-width: 850px) {
    .text-content {
        flex-direction: row;
        gap: 64px;
        align-items: center;
    }
}