.language {
    padding: 2.25rem 1.25rem 0.75rem 1.25rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


.selected {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
  }

.language {
    cursor: pointer;
}

.selected path {
    stroke: white;
}

.selected:hover,
.selected.active {
    color: #FFD766;
}

.selected:hover path, 
.selected.active path {
    stroke: #FFD766;
}

.arrow {
    transition: transform 0.2s ease-in-out;
}

.arrow.opened {
    transform: rotate(-90deg);
}

.languages-menu-tablet {
    display: none;
}

.languages-menu-mobile {
    display: flex;
    gap: 1rem;
}

.languages-menu-mobile .language-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1;
  }
  
  .languages-menu-mobile .language-button:hover {
    color: #FFD766;
    background-color: transparent;
  }


@media (min-width: 880px) {
    .language {
        position: relative;
        padding: 0;
    }

    .selected {
        color: black;
    }
    
    .selected path {
        stroke: black;
    }
    
    .selected:hover,
    .selected.active {
        color: #EF4B8D;
    }
    
    .selected:hover path, 
    .selected.active path {
        stroke: #EF4B8D;
    }

    .languages-menu-tablet {
        position: absolute;
        top: calc(100% + 0px);
        right: 0;
        background: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        min-width: 100px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        overflow: hidden;
      }
      
      .languages-menu-tablet .language-button {
        background: none;
        border: none;
        padding: 0.5rem;
        text-align: left;
        width: 100%;
        cursor: pointer;
        border-radius: 0;
      }
      
      .languages-menu-tablet .language-button:hover {
        background: #f0f0f0;
        color: #EF4B8D;
      }

      .arrow.opened {
        transform: rotate(-180deg);
    }

    .languages-menu-mobile {
        display: none;
    }
    
}