.grid-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem; 
  }

  @media (min-width: 850px) {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 0.5rem; 
    }
}
  