.submit {
    min-height: 64px;
    width: 100%;
    background-color: #6ec1e4;
    color: #000;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    transition: left 0.5s ease;
    font-family: 'Montserrat Alternates', system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.01em;
}

.submit.error {
    background-color: #F94C29;
}

.message {
    color: black;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: -0.01em;
    transition: opacity 0.5s ease;
    margin: 0;
  }

  .message.error {
    color: white;
  }