.control {
    border: none;
    margin: 0;
    padding: 0;
    gap: 0.25rem;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    line-height: 1;
    flex-direction: column;
}



.control.error {
    margin: 0;
    color: #F94C29;
}

.control-error {
    margin: 0;
    padding: 0;
    color: #F94C29;
    margin-left: 0.5rem;
}

.control legend {
    border-left: solid black;
    padding: 0.125rem 0.5rem;
}

.control.error legend {
    color: #F94C29;
}

.control-items {
    color: black;
    margin: 0.625rem 0.5rem 1.25rem 0.5rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.control-items.error {
    color: #F94C29;
    margin: 0.625rem 0.5rem 0rem 0.5rem;
}

.control-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


.control-item input[type='checkbox'] {
    appearance: none; /* Removes default styling */
    accent-color: #7DC8F7;
    width: 20px;
    height: 20px;
    background-color: #000000; /* Blue background */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
    position: relative; /* For additional styling if needed */
}

.control-item input[type='checkbox']:checked {
    background-color: #7DC8F7;
  }

@media (min-width: 500px) {
    .control-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }
  }
