.segment-button {
    background: none;
    border: none;
    font-size: 3.5rem;
    font-weight: 600;
    cursor:pointer;
    font-family: "ClashDisplay", system-ui, Avenir, Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: black;
    margin: 0;
}

.segment-button:hover,
.segment-button:active,
.active {
    color: #9B4DFF;
}

@media (min-width: 600px) {
    .segment-button {
        font-size: 4.375rem;
    }
  }