.form-background {
    display: flex;
    flex-direction: column;
}

.background {
    background-color: #FFD766;
    padding: 2rem 2rem 4.5rem 2rem;
    border-top-left-radius: 56px;
    border-top-right-radius: 56px;
}

.personal-data {
    background-color: #242424;
    padding: 4.5rem 2rem 2rem 2rem;
}

.personal-data p {
    margin: 0;
    font-family: 'Montserrat Alternates', system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}


.stack {
    position: relative;
}


@media (max-width: 1019px){
    .personal-data {
        position: relative;
    }

    .code-horizontal {
        position: absolute;
        top: 0;
        left: 20px;
        right: 20px;
        transform: translateY(-50%); /* Perfect vertical centering */
    }

    .code-horizontal img {
        width: 100%;
        height: 100px;
    }

    .code-vertical {
        display: none;
    }
}

@media (min-width: 1020px) {
    .form-background {
        display: flex;
        flex-direction: row;
    }
    
    .background {
        flex: 1;
        border-top-right-radius: 0px;
        border-top-left-radius: 56px;
        border-bottom-left-radius: 56px;
        margin: 0;
        padding: 2.5rem 4.5rem 3.25rem 3.25rem;
    }
    
    .personal-data {
        width: 100px;
        padding: 2rem 0px 2rem 2.5rem;
        display: flex;
        align-items: center;
    }
    
    .personal-data p {
        margin: 0.75rem;
        transform: rotate(180deg); /* Rotates text upside down */
        writing-mode: vertical-rl; /* Rotates text vertically */
        text-orientation: mixed; /* Ensures upright text */
        white-space: nowrap; /* Prevents text wrapping */
    }

    .code-vertical {
        position: absolute;
        top: 50%;         /* Align top edge at the center */
        right: 95px;      /* Keep your original right spacing */
        transform: translateY(-50%); /* Perfect vertical centering */
    }

    .code-horizontal {
        display: none;
    }
}