.tabs {
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-wrap: wrap;
    gap: 0rem;
    padding: 0;
    margin: 2rem 1rem 0rem 0rem;
}

#submit-tablet-button {
    display: none;
}

#submit-mobile-button {
    display: flex;
}

@media (min-width: 750px) {
    #submit-tablet-button {
        display: flex;
    }

    #submit-mobile-button {
        display: none;
    }
}



@media (min-width: 450px) {
    .tabs {
        gap: 4.5rem;
        flex-direction: row;
    }
  }