.about-divider-text {
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: -2%;
    line-height: calc(30/20);
    color: white;
}

@media (min-width: 850px) {
    .about-divider-text {
        font-size: 1.25rem;
    }
}