.wave-container {
    position: relative;
    display: inline-block;
}

.wave-container img {
    width: 100%;
    height: 620px;
    border-radius: 16px;
    object-fit: cover;
}

.animated-wave-container {
    position: absolute;
    /* bottom: -100px; */
    /* left: -10%; */
    /* left: -10%; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgba(0, 0, 255, 0.194);
    /* background: #7DC8F7; */
}

