.portfolio-page {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.portfolio-page p {
    color: black;
    text-align: center;
    font-family: 'Montserrat Alternates', system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1;
    margin: 0;
    padding: 0;
    letter-spacing: -0.05em;
    max-width: 500px;
}

.carousel {
    width: 100%;
    margin-bottom: 2rem;
}